@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Kumbh Sans, sans-serif"; 
}

@media (min-width: 1024px) {
  .big-image {
    height: 700px;
  }
}
